

.hostel-full-container{

    height: 100vh;
    background-color: rgb(255, 255, 255);
    
    padding-top: 2rem;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 2rem;
}

.hostel-left-container{
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 1rem;
    flex: 1.5;
   
}
.hostel-right-contaier{
    flex: 5;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.search-bar-hostel{
    height: 1.5rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hostel-search{
    display: flex;
}
.button-of-search{
    border  : none;
    width: 5rem;
    /* background-color: #5b5b5b; */
    color: #94618E;
    /* background-color: #F8EEE7; */

    font-size: 1.5rem;
}
.right-upper-container{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 4rem;
}

.home-view{
    flex: 1;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7c7575;
    gap: 1rem;
}

.home-total{
   color: #7c7575;
    margin-left: -30vh;
    flex: 5;
    height: 5vh;
    
}

.right-lower-container{
    background-color: #f4f4f4;  
    border-radius: 1rem;
    height: 100vh;
    width: 100%;
    padding-bottom: 5vh;
}

.login-photo{
    margin-top: 20vh;
    height: 80vh;
}

.active{
    /* background-color: ; */
    color: #94618E;
}


.home-city{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    text-decoration: none;

}

.filter-heading{
    font-size: 24px;
    font-weight: 400;
    color: #5b5b5b;
}

.listing-city{
    text-decoration: none;
    color: #898989;
    /* background-color: #7c7575; */
    padding:8px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 19px;
}

.listing-city:hover{
    /* text-decoration: underline; */
    background-color: #dedada;
    color: #94618E;
   
}

.hostel-search-two{
    border-bottom:#94618E ;
    display: flex;
}

.hostel-search-three{
    border-bottom:#94618E ;
    display: flex;
}

.search-bar-hostel-two{
    display: flex;
    margin-top: 3rem;
    width: 29vh;
    height: 5vh;
    /* border-bottom:#2fc795 ; */
    border-bottom-color: #94618E;
    border-top: none;
    border-left: none;
    border-right: none;
    align-items: center;
    justify-content: center;
}

.search-bar-hostel-three{
    display: flex;
    margin-top: 3rem;
    width: 20vh;
    height: 5vh;
    /* border-bottom:#2fc795 ; */
    border-bottom-color: #94618E;
    border-top: none;
    border-left: none;
    border-right: none;
    align-items: center;
    justify-content: center;
}

.button-of-search-three{
    width: 4.8rem;
    height: 2.9rem;
    /* display: flex; */
    margin-top: 3.0rem;
    background-color: #94618E;
    border-color:#94618E;
    border: none;
    color: #dedada;
    font-size: 25px;
    
}
