.login-form{
    height: 70vh;
    width: 50vh;
    background-color: rgb(232, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 3rem;
    border-radius: 20px;
    
}

.login-main-div{
    width: 100%;
    display: flex;
}

.login-form h2{
    font-size: 30px;
    font-weight: 500;
    margin-top: -10vh;
    color:#94618E ;

}

.login-form label{
    font-size: 20px;
    font-weight: 400;
   padding-top: 0px;
    color: #4f5352;
    display: flex;
    flex-direction: column;
}

.name-login{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: start;

}


.login-form label input{
    height: 30px;
    width: 30vh;
}

.button-login-part{
    margin-top: 5vh;
    height: 6vh;
    width: 16vh;
    background-color: #94618E;
    color: aliceblue;
    border-style: none;
    font-size: 17px;
}