.our-image-full-container{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.four-row-images{
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
}

.four-row-images figure{
   
    height: 21vh;
    width: 28vh;
    padding: 0%;
    margin: 5px;
    /* background-color: aqua; */
}

.main-images{
    /* flex: 1; */
    height: 35vh;
    width: 48vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-photo{
    height: 100%;
    width: 100%;
    filter: brightness(100%);
}

.single-photo:hover{
    filter: brightness(70%);
}



/* responsive */



@media (max-width:999px) {


    .our-image-full-container{
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        
    }

    .four-row-images{
       
        display: flex;
        flex-direction: row;
    }
    
.four-row-images figure{
   
    height: 8vh;
    width: 12vh;
    padding: 0%;
    margin: 5px;
    /* background-color: aqua; */
}
    
    
}


@media (max-width:500px){

    .four-row-images figure{
   
        height: 7vh;
        width: 10vh;
        padding: 0%;
        margin: 5px;
        /* background-color: aqua; */
    }

}